<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Attention, <%= @user.email %></h1>
    <p> The product <%= @product.name %> has a stock of <%= @product.stock %></p>
    <% if @product.image.representable? %>
      <%= image_tag @product.image.representation(resize_to_limit: [220, 220]) %>
    <% end %>
  </body>
</html>