<p class="h4">Comments</p>
<% commentable.comments.each do |comment| %>
  <div class='well col-md-6'>
    <hr>
    <p><%= User.find(comment.user_id).email %></p>
    <p><%= comment.description %></p>
    <hr>
  </div>
<% end %>