<%= form_for [commentable, Comment.new] do |f| %>
  <div class="form-group col-md-6">
    <%= f.text_area :description, class: 'form-control', placeholder: 'Add a comment' %>
  </div>
  <%= f.submit class: 'btn btn-primary btn-sm' %>
<% end %>