<h1>Products</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Sku</th>
      <th scope="col"><%= link_to 'Name', sort: 'name' %></th>
      <th scope="col">Description</th>
      <th scope="col"><%= link_to 'Price', sort: 'price' %></th>
      <th scope="col"><%= link_to 'Stock', sort: 'stock' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.sku %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.stock %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= button_to 'Add to Cart', order_items_path(product_id: product) unless product.stock == 0 %>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>
