<h2 class="text-center">Orders</h2>

<div class="col-md-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Total</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.total %></td>
          <td><%= order.status %></td>
          <td><%= link_to 'Show', order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%== pagy_bootstrap_nav(@pagy) %>
