<h1>Order</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Name</th>
      <th>Unit Price</th>
      <th>Total Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.order_items.each do |item| %>
      <tr>
        <td><%= item.quantity %></td>
        <td><%= item.product.name %></td>
        <td><%= number_to_currency(item.product.price) %></td>
        <td><%= number_to_currency(item.total_price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Total Price: <%= number_to_currency(@cart.total_price) %> </h3>

<%= button_to 'Confirm Buy', orders_path, method: :post %>

<%= link_to 'Back', home_index_path %>
