<%= link_to 'Back', orders_path %>

<div class="col-md-3">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Product</th>
      <th>Unit Price</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |ol| %>
      <tr>
        <td><%= ol.quantity %></td>
        <td><%= ol.product_name %></td>
        <td><%= ol.product_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<p>Total Price: <%= number_to_currency(@order.total) %></p>

<%= render partial: 'comments/comments', locals: {commentable: @order} %>
<%= render partial: 'comments/form', locals: {commentable: @order} %>

