<h2>Your Cart</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @cart.order_items.each do |item| %>
      <tr>
        <td><%= item.quantity %></td>
        <td><%= item.product.name %></td>
        <td><%= number_to_currency(item.product.price) %></td>
        <td><%= number_to_currency(item.total_price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Total Price: <%= number_to_currency(@cart.total_price) %> </h4>

<%= button_to 'Buy', new_order_path, method: :get, class: 'btn btn-primary btn-sm' %>
<br>
<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>