<h1>Edit Tag</h1>

<%= form_for @tag_edit_form, url: tag_path(@tag_edit_form.id), method: 'put' do |form| %>
  <% if @tag_edit_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag_edit_form.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% @tag_edit_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Edit tag' %>
  </div>
<% end %>

<%= link_to 'Back', tags_path %>