<h1>New Tag</h1>

<%= form_for @tag_form, url: tags_path do |form| %>
  <% if @tag_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag_form.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% @tag_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Tag' %>
  </div>
<% end %>


<%= link_to 'Back', tags_path %>
