<h1>New Product</h1>

<%= form_for @product_form, url: products_path, html: { class: 'w-50 '} do |form| %>
  <% if @product_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_form.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :sku %>
    <%= form.text_field :sku, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :stock %>
    <%= form.number_field :stock, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image , class: 'form-control'%>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', products_path %>
