<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<% if @product.image.representable? %>
  <%= image_tag @product.image.representation(resize_to_limit: [220, 220]) %>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Tags:</strong>
  <% @product.tags.each do |tag| %>
    <%= tag.name %> |
  <% end %>
</p>

<p><strong> Likes: <%= @product.likes.count %></strong></p>
<% if user_signed_in? %>
  <% like = current_user.likes.find_by(product: @product) %>
  <% if like.nil? %>
    <%= button_to 'Like', likes_path, params: { like: { product_id: @product.id }}, method: :post %>
  <% else %>
    <%= button_to 'Unlike', like_path(like), method: :delete %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) if @product.editable_by?(current_user) %> |
<%= link_to 'Back', products_path %>

<%= render partial: 'comments/comments', locals: {commentable: @product} %>
<%= render partial: 'comments/form', locals: {commentable: @product} %>