<!DOCTYPE html>
<html>
  <head>
    <title>Snackstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <% if user_signed_in? %>
        <p>Hello <strong><%= current_user.email %></strong>.|</p>
        <p><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>|</p>
        <p><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>|</p>
        <% if current_user.admin? || current_user.support? %>
          <p><%= link_to 'Products', products_path, :class => 'navbar-link' %>|</p>
          <p><%= link_to 'Tags', tags_path, :class => 'navbar-link' %>|</p>
        <% end %>
        <p><%= link_to 'Orders', orders_path, :class => 'navbar-link' %>|</p>
      <% else %>
        <p><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>|</p>
        <p><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>|</p>
      <% end %>
      <p><%= link_to 'Home', home_index_url, :class => 'navbar-link' %>|</p>
      <p><%= link_to 'Cart', cart_url(session[:cart_id]), :class => 'navbar-link' if session[:cart_id] %>|</p>
      <p><%= link_to 'Users', users_path, :class => 'navbar-link' %>|</p>
    </nav>
    <p id="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
